<% layout('../layout.ejs') %>

<div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header">
                        <div class="page-header-title">
                            <h3 class="m-b-10">About Us</h3>
                        </div>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">
                                <spam style="color: #fff;">about</spam></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-lg-12 col-md-12 margin_negative">
                <div class="card">
                    <div class="card-header borderless">
                        <h1 class="result_status">About Us</h1>
                    </div>
                    <div class="card-block">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>What is DL mock test?</h2>
                                    </div>
                                    <div class="col-md-12">
                                        It's a free mock test site. Where user can get a interface just like he get during the learning test process at the RTO.                                     
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-md-12">
                                            <h2>Language</h2>
                                        </div>
                                        <div class="col-md-12">
                                            In most of the sites you gets questions set in English Language but here you will get questions paper in two Language english as well as in hindi.                                            
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>About questions sets</h2>
                                        </div>
                                        <div class="col-md-12">
                                            Our all the questions sets is designed by expreters so we think if you can clear this test then you can also clear test during the RTO learning licence process. 
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                            <div class="col-md-12">
                                                <h2>Notes</h2>
                                            </div>
                                            <div class="col-md-12">
                                                You can also download free mock test Notes from here as well as Penalty during the offence of rule and how to registered for a licence.
                                            </div>
                                        </div>
                                        <hr>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid ends -->
     </div>
    </div>