<% layout('../layout.ejs') %>

<div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header" style="margin-top: 0px;">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Penalty</h3>
                        </div>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">
                                <spam style="color: #fff;">Penalty</spam></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-lg-12 col-md-12 margin_negative">
                <div class="card">
                    <div class="card-header borderless">
                        <!-- <h1 class="result_status">Penalty page</h1> -->
                        <div id="tablepress-51-scroll-wrapper" class="tablepress-scroll-wrapper">        
                            <table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Offence</th>
                                    <th scope="col">Old Penalty</th>
                                    <th scope="col">New Penalty (From September 2019)</th>
                                  </tr>
                                </thead>
                                <tbody class="row-hover">
                                <tr class="row-2 even" role="row">
                                <td class="column-1">General</td><td class="column-2">First-Time Offence: Rs.100<br>
                                <br>
                                Second-Time Offence: Rs.300</td><td class="column-3">First-Time Offence: Rs.500<br>
                                <br>
                                Second-Time Offence: Rs.1,500</td>
                                </tr><tr class="row-3 odd" role="row">
                                <td class="column-1">Violation of Road Rules</td><td class="column-2">New</td><td class="column-3">Rs.500 to Rs.1,000</td>
                                </tr><tr class="row-4 even" role="row">
                                <td class="column-1">Ticket less Travel</td><td class="column-2">Rs.200</td><td class="column-3">Rs.500</td>
                                </tr><tr class="row-5 odd" role="row">
                                <td class="column-1">Disobeying orders from the Authorities and Refusing to Share Information</td><td class="column-2">Rs.500</td><td class="column-3">Rs.2,000</td>
                                </tr><tr class="row-6 even" role="row">
                                <td class="column-1">Driving an Unauthorized Vehicle without License</td><td class="column-2">Rs.1,000</td><td class="column-3">Rs.5,000</td>
                                </tr><tr class="row-7 odd" role="row">
                                <td class="column-1">Driving Without License</td><td class="column-2">Rs.500</td><td class="column-3">Rs.5,000</td>
                                </tr><tr class="row-8 even" role="row">
                                <td class="column-1">Driving Regardless of Disqualification</td><td class="column-2">Rs.500</td><td class="column-3">Rs.10,000</td>
                                </tr><tr class="row-9 odd" role="row">
                                <td class="column-1">Over-Speeding</td><td class="column-2">Rs.400</td><td class="column-3"><strong>Light Motor Vehicle:</strong><br>
                                Rs.1,000 to Rs.2,000<br>
                                <br>
                                <strong>Medium Passenger or Goods Vehicle:</strong><br>
                                Rs.2,000 to Rs.4,000 and impounding of DL for the Subsequent or Second-Time Offence.</td>
                                </tr><tr class="row-10 even" role="row">
                                <td class="column-1">Dangerous / Rash Driving</td><td class="column-2">New</td><td class="column-3"><strong>First-Time Offence:</strong> <br>
                                Imprisonment of 6 Months to 1 Year and/or Fine of Rs.1,000 to Rs.5,000<br>
                                <br>
                                <strong>Second-Time Offence:</strong> <br>
                                Imprisonment of up to 2 years and/or Fine up to Rs.10,000.</td>
                                </tr><tr class="row-11 odd" role="row">
                                <td class="column-1">Driving Under the Influence of Alcohol or Intoxicating Substance</td><td class="column-2">Rs.2,000</td><td class="column-3"><strong>First-Time Offence:</strong> <br>
                                Rs.10,000 and/or Imprisonment of up to 6 months.<br>
                                <br>
                                <strong>Second-Time Offence:</strong> <br>
                                Rs.15,000 and/or Imprisonment of up to 2 years.</td>
                                </tr><tr class="row-12 even" role="row">
                                <td class="column-1">Oversized Vehicles</td><td class="column-2">New</td><td class="column-3">Rs.5,000</td>
                                </tr><tr class="row-13 odd" role="row">
                                <td class="column-1">Driving When Mentally/Physically Unfit</td><td class="column-2">First-Time Offence:Rs.200<br>
                                <br>
                                Second-Time Offence:Rs.500</td><td class="column-3"><strong>First-Time Offence:</strong> Rs.1,000<br>
                                <br>
                                <strong>Second-Time Offence:</strong> Rs.2,000</td>
                                </tr><tr class="row-14 even" role="row">
                                <td class="column-1">Accident Related Offences</td><td class="column-2">New</td><td class="column-3"><strong>First-Time Offence:</strong> <br>
                                Rs.5,000 and/or Imprisonment of up to 6 months.<br>
                                <br>
                                <strong>Second-Time Offence:</strong> <br>
                                Rs,10,000 and/or Imprisonment of up to 1 Year.</td>
                                </tr><tr class="row-15 odd" role="row">
                                <td class="column-1">Driving Uninsured Vehicle (without Insurance)</td><td class="column-2">Rs.1,000 and/or Imprisonment of up to 3 months.</td><td class="column-3"><strong>First-Time Offence:</strong> <br>
                                Rs.2,000 and/or Imprisonment of up to 3 months.<br>
                                <br>
                                <strong>Second-Time Offence:</strong> <br>
                                Rs.4,000 and/or Imprisonment of up to 3 months.</td>
                                </tr><tr class="row-16 even" role="row">
                                <td class="column-1">Racing and Speeding</td><td class="column-2">Rs.500</td><td class="column-3"><strong>First-Time Offence:</strong> <br>
                                Rs.5,000 and/or Imprisonment of up to 3 months.<br>
                                <br>
                                <strong>Second-Time Offence:</strong> <br>
                                Rs.10,000 and/or Imprisonment of up to 1 year.</td>
                                </tr><tr class="row-17 odd" role="row">
                                <td class="column-1">Vehicle Without Permit</td><td class="column-2">Up to Rs.5,000</td><td class="column-3">Rs.10,000 and/or Imprisonment of up to 6 months.</td>
                                </tr><tr class="row-18 even" role="row">
                                <td class="column-1">Aggregators (Violations of Licensing Conditions)</td><td class="column-2">New</td><td class="column-3">Rs.25,000 to Rs.1 lakh</td>
                                </tr><tr class="row-19 odd" role="row">
                                <td class="column-1">Overloading</td><td class="column-2">Rs.2,000 and Rs.1,000 per extra tonne</td><td class="column-3">Rs.20,000 and Rs.2,000 per extra tonne</td>
                                </tr><tr class="row-20 even" role="row">
                                <td class="column-1">Overloading of Passengers</td><td class="column-2">New</td><td class="column-3">Rs.1,000 per extra passenger</td>
                                </tr><tr class="row-21 odd" role="row">
                                <td class="column-1">Not Wearing Seatbelt</td><td class="column-2">Rs.100</td><td class="column-3">Rs.1,000</td>
                                </tr><tr class="row-22 even" role="row">
                                <td class="column-1">Overloading of Two-Wheelers</td><td class="column-2">Rs.100</td><td class="column-3">Rs.2,000 and Disqualification of License for 3 months</td>
                                </tr><tr class="row-23 odd" role="row">
                                <td class="column-1">Not Wearing Helmet</td><td class="column-2">Rs.100</td><td class="column-3">Rs.1,000 and Disqualification of License for 3 months</td>
                                </tr><tr class="row-24 even" role="row">
                                <td class="column-1">Not Providing Way for Emergency Vehicles</td><td class="column-2">New</td><td class="column-3">Rs.10,000 and/or Imprisonment of 6 months</td>
                                </tr><tr class="row-25 odd" role="row">
                                <td class="column-1">Offences by JuveNewes</td><td class="column-2">New</td><td class="column-3">Rs.25,000 with Imprisonment of 3 years for which the Guardian / Owner shall be deemed to be guilty.</td>
                                </tr><tr class="row-26 even" role="row">
                                <td class="column-1">Power of Officers to Impound Documents</td><td class="column-2">New</td><td class="column-3">Suspension of DL under Section 183, 184, 185, 189, 190, 194C, 194D, 194E</td>
                                </tr>
                                <tr class="row-27 odd" role="row">
                                <td class="column-1">Offences Committed by Enforcing Officers</td><td class="column-2">New</td><td class="column-3">Double the Penalty under Relevant Section</td>
                                </tr>
                                <tr class="row-28 even" role="row">
                                    <td class="column-1">Drunk and drive</td><td class="column-2">Rs.2,000</td><td class="column-3">First-Time Offence:
                                        Rs.10,000 and/or Imprisonment of up to 6 months.
                                        
                                        Second-Time Offence:
                                        Rs.15,000 and/or Imprisonment of up to 2 years
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <!-- <div class="card-block">
                            <div class="row">
                                <div class="col-md-4 margin_top">
                                    <ul>
                                        <li class="result_Correct">Correct : <samp>4</samp></li>
                                        <li class="result_Correct">Incorrect : <samp>16</samp></li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <div id="chartContainer" style="height: 270px; width: 100%;"><div class="canvasjs-chart-container" style="position: relative; text-align: left; cursor: auto;"><canvas class="canvasjs-chart-canvas" width="639" height="270" style="position: absolute; user-select: none;"></canvas><canvas class="canvasjs-chart-canvas" width="639" height="270" style="position: absolute; -webkit-tap-highlight-color: transparent; user-select: none;"></canvas><div class="canvasjs-chart-toolbar" style="position: absolute; right: 1px; top: 1px; border: 1px solid transparent;"></div><div class="canvasjs-chart-tooltip" style="position: absolute; height: auto; box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 2px; z-index: 1000; pointer-events: none; display: none; border-radius: 5px;"><div style=" width: auto;height: auto;min-width: 50px;line-height: auto;margin: 0px 0px 0px 0px;padding: 5px;font-family: Calibri, Arial, Georgia, serif;font-weight: normal;font-style: italic;font-size: 14px;color: #000000;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);text-align: left;border: 2px solid gray;background: rgba(255,255,255,.9);text-indent: 0px;white-space: nowrap;border-radius: 5px;-moz-user-select:none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;} "> Sample Tooltip</div></div><a class="canvasjs-chart-credit" title="JavaScript Charts" style="outline:none;margin:0px;position:absolute;right:2px;top:256px;color:dimgrey;text-decoration:none;font-size:11px;font-family: Calibri, Lucida Grande, Lucida Sans Unicode, Arial, sans-serif" tabindex="-1" target="_blank" href="https://canvasjs.com/">CanvasJS.com</a></div></div> 
                                </div>
                            </div>
                    </div> -->
            </div>
        </div>
    </div>
        <!-- Container-fluid ends -->
    </div>
</div>