<% layout('../layout.ejs') %>

<div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header" style="margin-top: 0px;">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Contact Us</h3>
                        </div>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">
                                <spam style="color: #fff;">contact</spam></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Row end -->
        <div class="row">
                <div class="col-md-7 offset-md-2 margin_negative">
                        <section class="login-block">
    
                        <!-- Authentication card start -->
                        
                            <form class="md-float-material form-material">
                                
                                <div class="auth-box card">
                                    <div class="card-block">
                                        <div class="row m-b-20">
                                            <div class="col-md-12">
                                                <h3 class="text-center">Contact Us</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-primary">
                                                    <input type="text" name="text" class="form-control" required="">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">First name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-primary">
                                                    <input type="text" name="text" class="form-control" required="">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Last name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-primary">
                                            <input type="email" name="email" class="form-control" required="">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Your Email Address</label>
                                        </div>
                                        <div class="form-group form-primary">
                                            <input type="text" name="subject" class="form-control" required="">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Subject</label>
                                        </div>
                                        <div class="form-group form-primary">
                                            <textarea rows="5" cols="5" class="form-control" ></textarea>
                                            <span class="form-bar"></span>
                                            <label class="float-label">Message</label>
                                        </div>
                                        <div class="row m-t-30">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20"> Send </button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-inverse text-left m-b-0">Thank you.</p>
                                                <p class="text-inverse text-left"><a href="/"><b>Back to website</b></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                  
        </section>
                </div>
            </div>
        <!-- Container-fluid ends -->
     </div>
    </div>