<!DOCTYPE html>
<html lang="en">
    <% include template/head.ejs %>
<body>
<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <% include template/header.ejs %>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <% ques_sets_number= ques_sets_number,number_of_pdf_doc=number_of_pdf_doc; %>
        <% include template/sidebar.ejs %>
        
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <%-body%>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->


<% include template/footer.ejs %>
    
</script>
</body>
</html>