<head>
        <title>Driving licence mock test</title>
    
        <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="Phoenixcoded">
        <meta name="keywords"  content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
        <meta name="author" content="Phoenixcoded">
    
        <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
       
    
        <!-- Favicon icon -->
        <link rel="shortcut icon" href="/public/assets/images/favicon.png" type="image/x-icon">
        <link rel="icon" href="/public/assets/images/favicon.ico" type="image/x-icon">
    
        <!-- Google font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    
        <!-- iconfont -->
        <link rel="stylesheet" type="text/css" href="/public/assets/icon/icofont/css/icofont.css">
        <!-- <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous"> -->


    
        <!-- simple line icon -->
        <link rel="stylesheet" type="text/css" href="/public/assets/icon/simple-line-icons/css/simple-line-icons.css">
    
        <!-- Required Fremwork  -->
        <!-- <link rel="stylesheet" type="text/css" href="/public/assets/plugins/bootstrap/css/bootstrap.min.css">  -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" href="/public/assets/css/main.css">
        <link rel="stylesheet" href="/public/assets/css/style.css">
        <link rel="stylesheet" href="/public/assets/css/admin.css">
    
        <!-- Responsive.css -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/responsive.css"> -->
    
        <!--color css-->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/color/color-1.min.css" id="color"/> -->


        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="/public/assets/js/pie_chart.js"></script>
    </head>