<% layout('../layout.ejs',ques_sets_number=num_of_test_sets,number_of_pdf_doc=pdf_length) %>

<div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Dashboard</h3>
                        </div>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">
                                <spam style="color: #fff;">Dashboard</spam></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-lg-7 col-md-12 margin_negative">
                    <div class="card"> 


<div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
                <img src="https://www.gstatic.com/webp/gallery3/1.png" alt="Los Angeles" style="width:100%;">
          </div>
          <div class="carousel-item">
                <img src="https://www.gstatic.com/webp/gallery3/2.png" alt="Los Angeles" style="width:100%;">
          </div>
          <div class="carousel-item">
                <img src="https://www.gstatic.com/webp/gallery3/3.png" alt="Los Angeles" style="width:100%;">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      
                                    
                    </div>
            </div>
            <div class="col-lg-5 col-md-12">
                    <div class="row">
                        <div class="col-md-12 margin_negative pd-left-0">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <div class="add_padding">
                                                <h4 class="text-c-yellow">Objective</h4>
                                            </div>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="feather icon-bar-chart-2 f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-yellow">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <div class="add_padding">
                                                <p class=" m-b-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Container-fluid ends -->
     </div>
    </div>