<% layout('../layout.ejs') %>

<div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header" style="margin-top: 0px;">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Questions operation</h3>
                        </div>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">
                                <spam style="color: #fff;">Add questions</spam></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-lg-12 col-md-12 margin_negative">
                <div class="card">
                    <div class="card-header borderless">
                        <h1 class="result_status">Add Questions </h1>
                    </div>
                    <div class="card-block">
                        <form action="/admin/add_question" enctype="multipart/form-data" method="POST">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <h4> Question : </h4>
                                </div>
                                <div class="col-sm-6 pd-right-0">
                                    <input type="text" class="form-control input-add-q-high pd-right-0" name="question" autocomplete="off" placeholder="Enter Question">
                                </div>
                                <div class="col-sm-1 pd-left-0 pd-right-0">
                                        <input type="file" name="img1" id="radio-ques" onchange="printImg('radio-ques','img-div-ques')" style="display: none" size="60" >
                                        <label for="radio-ques" class="btn btn-primary btn-round waves-effect waves-light b-r-0 mr-bottom-0"> img</label>
                                </div>
                                <div class="col-md-3 pd-left-0 pd-right-0" id="img-div-ques">

                                </div>
                            </div>
                            <hr/>
                            <div class="form-group row mr-bottom-0">
                                <div class="col-sm-2">
                                    <h4> Answers : </h4>
                                </div>
                                <div class="col-sm-10">
                                    <div class="funkyradio">
                                        <div class="card-header pd-left-0 pd-right-0 pd-top-0">
                                            <div class="funkyradio-success">
                                                <input type="radio" name="Answer" class="radio_button_cls" value="1" id="radio1">
                                                <label for="radio1">
                                                    <span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <span class="radio_test">
                                                                        <div class="row">
                                                                            <div class="col-md-7 pd-right-0">
                                                                                <input type="text" class="form-control input-add-q-high pd-right-0"  name="option1" autocomplete="off" placeholder="Enter Answer">
                                                                            </div>
                                                                            <div class="col-md-2 pd-left-0">
                                                                                    <input type="file" name="img2" onchange="printImg('radio11','img-div-ans1')" id="radio11" style="display: none" size="60" >
                                                                                    <label for="radio11" class="btn btn-primary btn-round waves-effect waves-light b-r-0 mr-bottom-0"> upload img</label>
                                                                            </div>
                                                                            <div class="col-md-3 pd-left-0" id="img-div-ans1">

                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-md-8">
                                                                <span class="radio_test">Stop the vehicle and wait till the pedestrians cross the road and then proceed</span>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                        </div> -->
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="funkyradio-success">
                                                <input type="radio" name="Answer" class="radio_button_cls" value="2" id="radio2">
                                                <label for="radio2">
                                                    <span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <span class="radio_test">
                                                                        <div class="row">
                                                                            <div class="col-md-7 pd-right-0">
                                                                                <input type="text" class="form-control input-add-q-high pd-right-0" name="option2" autocomplete="off" placeholder="Enter Answer">
                                                                            </div>
                                                                            <div class="col-md-2 pd-left-0">
                                                                                    <input type="file" name="img3" id="radio22" onchange="printImg('radio22','img-div-ans2')" style="display: none" size="60" >
                                                                                    <label for="radio22" class="btn btn-primary btn-round waves-effect waves-light b-r-0 mr-bottom-0"> upload img</label>
                                                                            </div>
                                                                            <div class="col-md-3 pd-left-0" id="img-div-ans2">

                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-md-8">
                                                                <span class="radio_test">Stop the vehicle and wait till the pedestrians cross the road and then proceed</span>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                        </div> -->
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="funkyradio-success">
                                                <input type="radio" name="Answer" class="radio_button_cls" value="3" id="radio3">
                                                <label for="radio3">
                                                    <span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <span class="radio_test">
                                                                        <div class="row">
                                                                            <div class="col-md-7 pd-right-0">
                                                                                <input type="text" class="form-control input-add-q-high pd-right-0" name="option3"  autocomplete="off" placeholder="Enter Answer">
                                                                            </div>
                                                                            <div class="col-md-2 pd-left-0">
                                                                                    <input type="file" name="img4" id="radio33" onchange="printImg('radio33','img-div-ans3')" style="display: none" size="60" >
                                                                                    <label for="radio33" class="btn btn-primary btn-round waves-effect waves-light b-r-0 mr-bottom-0"> upload img</label>
                                                                            </div>
                                                                            <div class="col-md-3 pd-left-0" id="img-div-ans3">

                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-md-8">
                                                                <span class="radio_test">Stop the vehicle and wait till the pedestrians cross the road and then proceed</span>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                        </div> -->
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="funkyradio-success">
                                                    <input type="radio" value="4" name="Answer" id="radio4" class="radio_button_cls" >
                                                <label for="radio4">
                                                    <span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <span class="radio_test">
                                                                        <div class="row">
                                                                            <div class="col-md-7 pd-right-0">
                                                                                <input type="text" class="form-control input-add-q-high pd-right-0" name="option4"  autocomplete="off" placeholder="Enter Answer">
                                                                            </div>
                                                                            <div class="col-md-2 pd-left-0">
                                                                                    <input type="file" name="img5" id="radio44" onchange="printImg('radio44','img-div-ans4')" style="display: none" size="60" >
                                                                                <label for="radio44" class="btn btn-primary btn-round waves-effect waves-light b-r-0 mr-bottom-0"> upload img</label>
                                                                                <!-- <button class="btn btn-primary btn-round waves-effect waves-light b-r-0">upload img</button> -->
                                                                            </div>
                                                                            <div class="col-md-3 pd-left-0" id="img-div-ans4">

                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-md-8">
                                                                <span class="radio_test">Stop the vehicle and wait till the pedestrians cross the road and then proceed</span>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                        </div> -->
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success mr-left-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid ends -->
     </div>
    </div>