<% layout('../layout.ejs') %>

<div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header" style="margin-top: 0px;">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Penalty</h3>
                        </div>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">
                                <spam style="color: #fff;">Penalty</spam></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-lg-12 col-md-12 margin_negative">
                <div class="card">
                    <div class="card-header borderless">
                        <h1 class="result_status">Add Questions </h1>
                    </div>
                    <div class="card-block">
                        <form action="">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <h4> Question : </h4>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-add-q-high pd-right-0" placeholder="Enter Question">
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary btn-round waves-effect waves-light b-r-0">upload img</button>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <h4> Answers : </h4>
                                </div>
                                <div class="col-sm-10">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    
                                </div>
                                <div class="col-sm-10">
                                    <div class="funkyradio">
                                        <div class="card-header pd-left-0 pd-right-0">
                                            <div class="funkyradio-success">
                                                <input type="radio" name="radio" class="radio_button_cls" value="2" id="radio3">
                                                <label for="radio3">
                                                    <span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <span class="radio_test">
                                                                        <div class="row">
                                                                            <div class="col-md-10 pd-right-0">
                                                                                <input type="text" class="form-control input-add-q-high pd-right-0" placeholder="Enter Question">
                                                                            </div>
                                                                            <div class="col-md-2 pd-left-0">
                                                                                <button class="btn btn-primary btn-round waves-effect waves-light b-r-0">upload img</button>
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-md-8">
                                                                <span class="radio_test">Stop the vehicle and wait till the pedestrians cross the road and then proceed</span>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                        </div> -->
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="funkyradio-success">
                                                <input type="radio" name="radio" class="radio_button_cls" value="2" id="radio3">
                                                <label for="radio3">
                                                    <span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <span class="radio_test">
                                                                        <div class="row">
                                                                            <div class="col-md-10 pd-right-0">
                                                                                <input type="text" class="form-control input-add-q-high pd-right-0" placeholder="Enter Question">
                                                                            </div>
                                                                            <div class="col-md-2 pd-left-0">
                                                                                <button class="btn btn-primary btn-round waves-effect waves-light b-r-0">upload img</button>
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-md-8">
                                                                <span class="radio_test">Stop the vehicle and wait till the pedestrians cross the road and then proceed</span>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                        </div> -->
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="funkyradio-success">
                                                <input type="radio" name="radio" class="radio_button_cls" value="2" id="radio3">
                                                <label for="radio3">
                                                    <span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <span class="radio_test">
                                                                        <div class="row">
                                                                            <div class="col-md-10 pd-right-0">
                                                                                <input type="text" class="form-control input-add-q-high pd-right-0" placeholder="Enter Question">
                                                                            </div>
                                                                            <div class="col-md-2 pd-left-0">
                                                                                <button class="btn btn-primary btn-round waves-effect waves-light b-r-0">upload img</button>
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-md-8">
                                                                <span class="radio_test">Stop the vehicle and wait till the pedestrians cross the road and then proceed</span>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                        </div> -->
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="funkyradio-success">
                                                <input type="radio" name="radio" class="radio_button_cls" value="2" id="radio3">
                                                <label for="radio3">
                                                    <span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <span class="radio_test">
                                                                        <div class="row">
                                                                            <div class="col-md-10 pd-right-0">
                                                                                <input type="text" class="form-control input-add-q-high pd-right-0" placeholder="Enter Question">
                                                                            </div>
                                                                            <div class="col-md-2 pd-left-0">
                                                                                <button class="btn btn-primary btn-round waves-effect waves-light b-r-0">upload img</button>
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="col-md-8">
                                                                <span class="radio_test">Stop the vehicle and wait till the pedestrians cross the road and then proceed</span>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                        </div> -->
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid ends -->
     </div>
    </div>