<% layout('../layout.ejs') %>

<div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header" style="margin-top: 0px;">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Symbols</h3>
                        </div>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">
                                <spam style="color: #fff;">Symbols</spam></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Row end -->
        <div class="row">
            <div class="col-lg-12 col-md-12 margin_negative">
                <div class="card">
                    <div class="card-block">
                        <img src="../../public/assets/symbols/img.jpg" style="width: 100%" alt="problem in loading">
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid ends -->
     </div>
    </div>